/* Layout */

body {
  background-color: white;
}

.bio-container {
  height: 100%;
  width: 100%;
  margin-top: 80px;
}

.bio {
  margin: 0 auto;
  max-width: 600px;
}

.bio p {
  padding: 1rem;
  font-size: 1.6rem;
}

.inicio {
  color: #fcb529;
  padding: .2rem;
  position: absolute;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
}
