/* Layout */

body {
  background-color: white;
}

.inicio {
  color: #fcb529;
  padding: .2rem;
  position: absolute;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
}

/* Enlaces */

.menu {
  position: relative;
  height: 100vh;
}

.enlaces {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  font-size: calc(1.5rem + 2vw);
}

.enlaces li a:hover {
  color: #fcb529;
}

.actual {
    color: grey;
}
