/* Layout */

.menu {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

.borde-por-la-izquierda {
  border-left: 2px #222 solid;
}

.canciones-title,
.jazz-title {
  background-color: white;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.canciones-title h3,
.jazz-title h3 {
  padding-top: 2rem;
  color: gray;
}

/* Opciones */

.inicio {
  border-radius: 1rem;
  background-color: #362e1e;
  color: white;
  padding: .4rem;
  position: absolute;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
}

.accion:hover .inicio {
  color: #fcb529;
  transition: color 1s;
}

.canciones-title:hover,
.jazz-title:hover {
  background-color: #362e1e;
}

.canciones-title a h1,
.jazz-title a h1 {
  margin-top: 45vh;
  margin-bottom: 0;
  font-size: calc(2rem + 2vw);
}

.canciones-title a h3,
.jazz-title a h3 {
  font-size: calc(.4rem + 2vw);
}

.canciones-title a,
.jazz-title a {
  color: #222;
}

.canciones-title:hover a,
.jazz-title:hover a {
  color: white;
}
