/* Layout */

.menu {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

.borde-por-la-izquierda {
  border-left: 2px #222 solid;
}

.canciones-title,
.jazz-title {
  background-color: #ccc;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.canciones-title h3,
.jazz-title h3 {
  padding-top: 2rem;
  color: gray;
}

/* Opciones */

.inicio {
  border-radius: .2rem;
  background-color: white;
  border: 2px #222 solid;
  color: black;
  padding: .4rem;
  position: absolute;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
}

.accion:hover .inicio {
  background-color: black;
  color: white;
}

a.canciones-title h1,
a.jazz-title h1 {
  margin-top: 45vh;
  margin-bottom: 0;
  font-size: calc(2rem + 2vw);
}

a.canciones-title h3,
a.jazz-title h3 {
  font-size: calc(.4rem + 2vw);
}

a.canciones-title,
a.jazz-title {
  color: #111;
}

a.canciones-title:hover h1,
a.jazz-title:hover h1,
a.canciones-title:hover h3,
a.jazz-title:hover h3 {
  color: white;
}
