/* Fonts */

@font-face {
  font-family: 'bebas';
  src: url('../fonts/bebaskai-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a { text-decoration: none; }

/* Reset */

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  font-family: bebas;
}

.firma {
  background-color: #222;
  color: white;
  padding: .2rem;
  position: absolute;
  top: 0;
  right: calc(50% - 64px);
}

/* Layout */

body {
  background-color: #fcb529;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

body div {
  width: 100%;
}

.canciones-title,
.jazz-title {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.canciones-title a h1,
.jazz-title a h1 {
  margin-top: 45vh;
  margin-bottom: 0;
  color: #222;
  font-size: calc(2rem + 2vw);
  transition: .5s;
}

.canciones-title a h1:hover,
.jazz-title a h1:hover {
  color: black;
  font-size: calc(2.5rem + 2vw);
  transition: .5s;
}

.canciones-title a h1:hover {
  transform: rotate(-5deg);
  transition: .5s;
}

.jazz-title a h1:hover {
  transform: rotate(5deg);
  transition: .5s;
}

.borde-por-la-izquierda {
  border-left: 2px #222 solid;
}
