/* Fonts */

@font-face {
  font-family: 'bebas';
  src: url('../fonts/bebaskai-webfont.woff2') format('woff2'),
    url('../fonts/bebaskai-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 { font-size: calc(3rem + 2vw); }
a { text-decoration: none; }

/* Reset */

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  font-family: bebas;
}

/* Layout */

body {
  background-color: #fcb529;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

body div {
  width: 100%;
}

.canciones-title h1,
.jazz-title h1 {
  margin-bottom: 0;
}

.canciones-title,
.canciones-link,
.jazz-title,
.jazz-link {
  padding-left: 35%;
}

.canciones-title a,
.canciones-link a,
.jazz-title a,
.jazz-link a {
  color: #222;
}

.canciones-link a,
.jazz-link a {
  font-size: 2rem;
  color: white;
}

.borde-por-la-izquierda {
  border-left: 2px #222 solid;
}

@media only screen and (max-width: 768px) {
  .canciones-title,
  .canciones-link,
  .jazz-title,
  .jazz-link {
    padding-left: 15%;
  }
}
