/* Fonts */

@font-face {
  font-family: 'bebas';
  src: url('../fonts/bebaskai-webfont.woff2') format('woff2'),
    url('../fonts/bebaskai-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 { font-size: calc(3rem + 2vw); }
h2 { font-size: calc(1.5rem + 2vw);; }
h3 { font-size: calc(1rem + 2vw); }

/* Reset */

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  font-family: bebas;
}

/* Layout */

.dos-mitades {
  display: grid;
  width: 100vw;
  height: 100vh;
}

.dos-mitades {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100vh;
}

.dos-mitades section {
  width: 100%;
}

.dos-mitades section.canciones,
.dos-mitades section.canciones .mitad a {
  text-decoration: none;
  background-color: #fcb529;
  color: #222;
}

.dos-mitades section.jazz,
.dos-mitades section.jazz .mitad a {
  text-decoration: none;
  background-color: #222;
  color: #fcb529;
}

.dos-mitades .mitad {
  padding-left: 15%;
  padding-top: 30vh;
}

.dos-mitades .mitad h1 {
  margin-bottom: 0;
}

.dos-mitades section .mitad a.accion {
  font-size: 2rem;
  color: white;
}
